<!-- ============================================
; Title:  index.js
; Author: Professor Krasso
; Date:   05 February 2023
; Description: Pets-R-Us dog grooming app
;=========================================== -->

<head>
    <meta charset="UTF-8">
    <title>
        <%= title %>
    </title>

    <link rel="stylesheet" href="/styles/site.css">

    <!-- Google fonts for Oswald -->
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap"
        rel="stylesheet">
    <script src="https://kit.fontawesome.com/7e85f88570.js" crossorigin="anonymous"></script>

</head>

<div class="training" id="htmlbody">
    <%- include('./partials/_header.ejs') %>

    <main>
        <!-- <div class="main-gradinet"></div> -->
        <svg width="1512" height="1182" 
        class="first-main-shap-svg" viewBox="0 0 1512 1182" fill="none" xmlns="http://www.w3.org/2000/svg">
          <g filter="url(#filter0_b_148_169)">
          <path d="M-705.308 31.0085L-705.039 5L817.503 20.7564C899.58 21.6058 965.429 88.8313 964.579 170.909C963.73 252.986 1029.58 320.211 1111.66 321.061L1538.87 325.482C1704.54 327.196 1837.46 462.894 1835.75 628.57L1830.76 1110.01C1826.15 1148.52 1793.49 1177.5 1754.7 1177.5L1180.16 1177.5C1029.05 1177.5 907.791 1052.67 912.185 901.616C913.993 839.477 864.457 787.949 802.295 787.306L369.438 782.826C245.094 781.539 142.972 684.207 135.717 560.068C128.462 435.929 26.3393 338.596 -98.0047 337.31L-408.429 334.097C-574.105 332.382 -707.023 196.685 -705.308 31.0085Z" fill="url(#paint0_linear_148_169)" fill-opacity="0.5"/>
          <path d="M-705.308 31.0085L-705.039 5L817.503 20.7564C899.58 21.6058 965.429 88.8313 964.579 170.909C963.73 252.986 1029.58 320.211 1111.66 321.061L1538.87 325.482C1704.54 327.196 1837.46 462.894 1835.75 628.57L1830.76 1110.01C1826.15 1148.52 1793.49 1177.5 1754.7 1177.5L1180.16 1177.5C1029.05 1177.5 907.791 1052.67 912.185 901.616C913.993 839.477 864.457 787.949 802.295 787.306L369.438 782.826C245.094 781.539 142.972 684.207 135.717 560.068C128.462 435.929 26.3393 338.596 -98.0047 337.31L-408.429 334.097C-574.105 332.382 -707.023 196.685 -705.308 31.0085Z" stroke="url(#paint1_linear_148_169)" stroke-opacity="0.6" stroke-width="9"/>
          </g>
          <defs>
          <filter id="filter0_b_148_169" x="-829.824" y="-119.546" width="2790.09" height="1421.55" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
          <feFlood flood-opacity="0" result="BackgroundImageFix"/>
          <feGaussianBlur in="BackgroundImageFix" stdDeviation="60"/>
          <feComposite in2="SourceAlpha" operator="in" result="effect1_backgroundBlur_148_169"/>
          <feBlend mode="normal" in="SourceGraphic" in2="effect1_backgroundBlur_148_169" result="shape"/>
          </filter>
          <linearGradient id="paint0_linear_148_169" x1="-638.193" y1="5.69174" x2="620.617" y2="2354.23" gradientUnits="userSpaceOnUse">
          <stop stop-color="#EBEBEB" stop-opacity="0.35"/>
          <stop stop-color="white" stop-opacity="0.693532"/>
          <stop offset="0.388975" stop-color="#74D1ED"/>
          <stop offset="0.994177"/>
          </linearGradient>
          <linearGradient id="paint1_linear_148_169" x1="2413.39" y1="438.761" x2="964.747" y2="-249.085" gradientUnits="userSpaceOnUse">
          <stop offset="0.193793" stop-color="white"/>
          <stop offset="1" stop-color="white" stop-opacity="0"/>
          </linearGradient>
          </defs>
          </svg>
          
        <div class="first-main" id="boarding-first-main">
          <div class="container">
            <div class="boarding-first-main-box"></div>
            <div class="boarding-main-txt">
              <h1>Welcome to our <br/> Booking menu! </h1>


              <p>We understand that your furry friend is an important part of your <br /> family, and we're dedicated to providing them with a safe,<br /> comfortable, and fun home away from home.</p> 
            </div>
            <img src="../images/B1.png" />

          </div>
        </div>

        <div class="sixth-main" id="second-bording-main">
          <div class="container">
            <div class="package-box-txt"><h1>We are Here 27 - 7</h1></div>

            <div class="testimonial-card-conta">
              <div class="testimonial-card">
                <h1>Tier 1</h1>
                <p>
                  Lorem ipsum dolor sit amet consectetur. Tortor urna
                  consectetur sed netus duis. Neque viverra quisque consequat in
                  feugiat. Dolor egestas aliquet tempus accumsan .
                </p>
                <button>Go</button>
              </div>
              <div class="testimonial-card">
                <h1>Tier 2</h1>
                <p>
                  Lorem ipsum dolor sit amet consectetur. Tortor urna
                  consectetur sed netus duis. Neque viverra quisque consequat in
                  feugiat. Dolor egestas aliquet tempus accumsan .
                </p>
                <button>Go</button>
              </div>
              <div class="testimonial-card">
                <h1>Tier 1</h1>
                <p>
                  Lorem ipsum dolor sit amet consectetur. Tortor urna
                  consectetur sed netus duis. Neque viverra quisque consequat in
                  feugiat. Dolor egestas aliquet tempus accumsan .
                </p>
                <button>Go</button>
              </div>
            </div>
          </div>
        </div>

        <div class="second-main"></div>
      </main>


        <%- include('./partials/_footer.ejs') %>
</div>