<!-- ============================================
; Title:  index.js
; Author: Professor Krasso
; Date:   05 February 2023
; Description: Pets-R-Us dog grooming app
;=========================================== -->


<footer>
    <div class="bg-box"></div>

    <div class="footer-shape">
      <div class="foot-top">
        <!-- foot-top-left -->
        <div class="foot-top-left">
          <div class="foot-dog">
            <img src="../images/doglog.png" alt="" />
          </div>
          <div class="foot-txt">
            <h1>
              Pets-R-Us <br />
              <span>Service</span>
            </h1>
            <p>WeHereForYou</p>
          </div>
        </div>

        <!-- foot-top-right -->
        <div class="foot-top-right">
          <div class="foot-card">
            <div class="card-title">
              <span>Contact Us</span>
            </div>

            <div class="email-contnet">
              <span class="emil-txt">Email:</span>
              <input
                class="email-input"
                placeholder="Please Type Your Email .."
              />
            </div>
            <button class="contact-btn">Send</button>
          </div>
        </div>
      </div>
      <!-- foot-bottom -->
      <div class="foot-bot">
        <p>
          Deveoped by Yakut Ahmedin<br />
          © 2023 - Yamhub
        </p>
        <div class="txt-social">
          <p>2021 © Pets-R-Us <br /><small>Follow Us</small></p>
          <div class="footer-social">
            <ul>
              <li>
                <a href="https://www.instagram.com/" target="_blank"
                  ><i class="fa fa-instagram"></i
                ></a>
              </li>
              <li>
                <a href="https://www.twitter.com/"
                  ><i class="fa fa-twitter"></i
                ></a>
              </li>
              <li>
                <a href="https://youtube.com/" target="_blank"
                  ><i class="fa fa-youtube"></i
                ></a>
              </li>
              <li>
                <a href="https://www.facebook.com/" target="_blank"
                  ><i class="fa fa-facebook"></i
                ></a>
              </li>
            </ul>
          </div>
        </div>

        <div></div>
      </div>
    </div>

    <div class="back-top">
      <div class="back-top-arrow">
        <svg
          width="70"
          height="70"
          viewBox="0 0 70 70"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M-5.21977e-06 35C-3.88865e-06 15.6653 15.6653 1.59762e-06 35 3.74399e-06C54.3347 5.89036e-06 70 15.6653 70 35C70 54.3347 54.3347 70 35 70C15.6653 70 -6.55089e-06 54.3347 -5.21977e-06 35ZM41.2097 51.371L41.2097 35L51.2157 35C52.7258 35 53.4879 33.1653 52.4153 32.1069L36.1996 15.9758C35.5363 15.3125 34.4778 15.3125 33.8145 15.9758L17.5988 32.1069C16.5262 33.1794 17.2883 35 18.7984 35L28.7903 35L28.7903 51.371C28.7903 52.3024 29.5524 53.0645 30.4839 53.0645L39.5161 53.0645C40.4476 53.0645 41.2097 52.3024 41.2097 51.371Z"
            fill="white"
          />
        </svg>
      </div>
    </div>
</footer>