@import url("https://fonts.googleapis.com/css?family=Inter:400,700,900,500,800|Poppins:600|Open+Sans:400,600");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    scroll-behavior: smooth;
    list-style: none;
    font-family: 'Inter', sans-serif;
    /* font-family: "JejuGothic- Regular" ; */
}

:root {
    --casal: #2a6374;
    --white-ash: #F5F5F5;


    /* --black: #000800;
    --casal: #2a6374;
    --christalle: #310d66;
    --zambezi: #a35655;
    --Purple-heart: #692dcd;
    --pink-swan: #52b8ba;
    --almond: #f1e1cc;
    --wild-sand: #f4f4f4;
    --Sun: #faab0d;
    --white-4: #ffffff29;
    --white-3: #ffffff33;
    
    --wnite2: #ffffff66;
    --white: #ffffff;
    --font-size-XXS: 12px;
    --font-Size-xXS: 13px;
    --fontsize-xs: 15px;
    --font-size-s: 32px;
   
    
    --font-size-m: 23px;
    --font-Size-m: 96px;
    --font-size-1: 24px;
    --font-size-xl: 40px;
    --font-s1ze-xxl: 64px;
    --font-size-xs2: 18px;*/

    --font-family-denk-one: "Denk One";
    --font-family-denk_one-regular: "Denk One-Regular ";
    --font-family-inter: "Inter";
    --font-family-jejugothic-regular: "JejuGothic-Regular";
    --font-family-open_sans: "Open Sans";
    --font-family-poppins: "Poppins";
}

/*---Side Scroll Bar ---*/
::-webkit-scrollbar {
    width: 1.2vmin;
}

::-webkit-scrollbar-track {
    background: var(--white-ash);
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(135deg, #2876fc00 0%, #2a6374 100%);
    border-radius: 15px;
}

::-webkit-scrollbar-thumb:hover {
    background: #044044;
}



body {
    width: 100vw;
    height: auto;
    overflow-x: hidden;
    font-size: 14px;
    background: var(--white-ash);
}

.container {
    width: 100%;
    max-width: 1200px;
    height: auto;
    display: flex;
    align-items: center;
    padding: 0 5%;
    /* background: #d30ac6d1; */
    justify-content: space-between;
}

/*------pages----------*/
.landing,
.boarding,
.register,
.training,
.about,
.customers,
.booking {
    position: relative;
    width: 100%;
    height: auto;
}


/* --------top notice---------- */
.top-notice {
    width: 100%;
    width: 100%;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--white-ash);
    background: var(--casal);
    z-index: 99;
}

.top-notice-left ul,
.top-notice-right ul {
    width: 100%;
    height: 100%;
    display: flex;
    font-size: 12px;
    max-width: 1150px;
    align-items: center;
    justify-content: space-between;
}

i {
    margin-right: 10px;
    color: var(--white-ash);
}


/*------Header----------*/
header {
    position: sticky;
    top: 0;
    z-index: 99;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* ----Top nav bar--------- */
.top-navbar {
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(20px);
}

.nav-list-item ul {
    display: flex;
    height: 100%;
    align-items: center;
}

.nav-logo h2 {
    font-family: var(--font-family-inter);
    font-size: 30px;
    font-style: normal;
    font-weight: 900;
    line-height: 104px;
    color: #2A6374;
}

.nav-list-item ul a {
    margin-left: 10px;
    color: var(--blue);
}

.nav-list-item ul button {
    color: var(--white-ash);
}

.nav-list-item .call-btn {
    padding: 10px 20px;
    margin-left: 12px;
    background: var(--casal);
    border-radius: 22px;
    border: 1px solid var(--white);
    cursor: pointer;
}

/* dropdown */
.dropdown {
    display: block;
    float: left;
    height: 60px !important;
    padding-top: 22px;
    position: relative;
}

.dropdown li {
    padding: 10px;
}

.dropdown li:hover {
    background-color: #548c9d;
    padding: 10px;
    cursor: pointer;
}

.nav-list-item ul li ul {
    color: var(--white-ash);
    visibility: hidden;
    opacity: 0;
    min-width: 8rem;
    min-height: 10rem;
    position: absolute;
    transition: all 0.5s ease;
    left: 0;
    display: none;
}

.nav-list-item ul li:hover>ul,
.nav-list-item ul li ul:hover {
    visibility: visible;
    opacity: 1;
    display: block;
    padding-top: 1.3rem;
    padding-left: 2vmin;
    margin-top: 1.3rem;
    background: var(--casal);
    transform-origin: top center;
}

.hum-burger {
    width: 60px;
    height: 50px;
    display: none;
    align-items: center;
    justify-content: center;
}

.hum-burger i {
    color: var(--casal);
    width: auto;
    height: 70%;
    font-size: 40px;
    cursor: pointer;
}

/*-------------------Main--------------------------*/
main {
    width: 100%;
    position: relative;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--white-ash);
}

.main-shap-svg {
    position: absolute;
    z-index: 3;
    top: 0;
    left: 0;
    width: 100vw;
    max-height: 180vh;
}

@media(max-width: 1200px) {
    .main-svg svg {
        scale: 1.19;
    }
}

.first-main,
.second-main,
.third-main,
.fourth-main,
.fivth-main,
.sixth-main {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* -------first------------- */
.first-main {
    top: 0;
    z-index: 4;
    height: calc(100vh - 95px);
}

.main-gradinet {
    position: absolute;
    width: 100vw;
    top: 0;
    z-index: 4;
    height: calc(100vh - 95px);
    clip-path: polygon(0% 0%, 0% 100%, 30% 100%, 100% 10%, 100% 0%);
    background: linear-gradient(90deg, #02080C 9.41%, #2A6374 48.96%, #2A6374 100%);
}

.first-main .container {
    height: 94% !important;
}

.first-main-grid {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow-x: visible;
    display: flex;
}

.first-main .main-txt {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    height: 100%;
    width: 60%;
}

.first-main .main-txt h1 {
    width: 50vw;
    position: absolute;
    color: var(--white-ash);
    font-family: "inter";
    font-size: 80px;
    overflow: visible;
    width: auto;
    transform: translateY(-30%);

}

.main-txt span {
    height: 50%;
}

.first-main .main-txt button {
    width: 40vmin;
    padding: 15px;
    background: #ffffff29;
    box-shadow: 0px 14 28 #1b1b1b29;
    backdrop-filter: blur(28);
    border-radius: 57px;
    color: var(--white-ash);
    border: none;
}

.first-main .main-img img {
    /* position: absolute; */
    width: auto;
    height: 70%;
    bottom: 15vh;
    right: 5vmin;
    scale: 1.5;
}



/* --------second main vaiew----- */
.second-main {
    z-index: 1;
    height: 120vh;
}

.second-main-container {
    position: absolute;
    overflow: visible;
    z-index: 12;
    top: 70vh;
}

.second-view-img {
    height: 100%;
    margin-right: 5vmin;
}

.second-view-txt {
    transform: translateY(10vh);
}

.second-view-txt h1 {
    margin-bottom: 2vmin;
    font-weight: 700;
    font-size: 80px;
    background: linear-gradient(94.74deg, #197b9a 21.4%, #B73ECB 97.81%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.second-view-card {
    padding: 20px 30px;
    background: #ffffff33;
    border: 1px solid #ffffff66;
    box-shadow: 0px 20px 40px #00000040;
    backdrop-filter: blur(20px);
}

.second-view-card:nth-child(3) {
    transform: translateX(-5vmin);
    margin: 3vmin;
}






/*  -------------third view ------- */
.third-main {
    z-index: 12;
    width: 100vw;
    height: auto;
}

.thrird-main-img {
    position: absolute;
    width: 100%;
    overflow: hidden;
}

.thrird-main-img img {
    width: 100vw;
    height: 40vh;
}

.snow-txt {
    z-index: 12;
    display: flex;
    align-items: center;
    justify-content: center;
}

.third-main .snow-txt h1 {
    color: var(--white-ash);
}

.third-main .snow-txt img {
    scale: .3;
    cursor: pointer;
}


/* ----------fourth main view------ */
.fourth-main {
    background: linear-gradient(90deg, #2A6374 42.9%, #89B2BE 47.28%);
}

.fourth-main .container {
    height: 100vh !important;
}

.package-box {
    width: 100%;
    height: 100vh;
    padding: 20% 5vmin;
    color: #e3e6e8;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.package-box:first-child {
    width: 34vw;
    height: 100%;
    background: var(--casal);
    border-left: 1px solid rgba(255, 255, 255, 0.4);
    box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(20px);
    margin-bottom: 10vmin;
}

.package-box:nth-child(2) {
    width: 34vw;
    height: 100%;
    padding: 10% 5vmin;
    background: #587E89;
}

.package-box:nth-child(3) {
    width: 34vw;
    height: 100%;
    margin-bottom: 10vmin;
    background: #89B2BE;
    border-right: 1px solid rgba(255, 255, 255, 0.4);
    border-bottom: 1px solid rgba(255, 255, 255, 0.4);
    box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(20px);
}

.package-box button {
    padding: 2vmin 6vmin;
    background: rgba(255, 255, 255, 0.16);

    border: none;
    backdrop-filter: blur(28.6667px);
    border-radius: 57.3333px;
    color: var(--white-ash);
}

.package-box-txt h1 {
    margin-bottom: 2vmin;
    font-weight: 700;
    font-size: 7vmin;
    background: linear-gradient(94.74deg, #197b9a 21.4%, #B73ECB 97.81%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}


/* ----five main view-------- */
.fivth-main {
    width: 100vw;
    height: 90vh;
    background: url(../images/qoutbg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.fivth-main .container {
    height: 80%;
    width: 80%;
    max-width: 1200px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--white-ash);
    border: 2px solid var(--white-ash);
}

.fivth-main .container h1 {
    width: 60vmin;
    font-size: 5vmin;
}

/* ----six main view------- */
.sixth-main .container {
    display: block;
    transform: translateY(-10vmin);
    text-align: center;
}

.testimonial-card-conta {
    display: flex;
    justify-content: space-around;
}

.testimonial-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
    min-height: 50vh;
    background: rgba(255, 255, 255, 0.2);
    border: 1px solid rgba(255, 255, 255, 0.4);
    box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(20px);
    border-radius: 26px;
}

.testimonial-card:nth-child(2) {
    margin: 0 3vmin;
}

.testimonial-card h1 {
    font-weight: 600;
    background: linear-gradient(94.74deg, #2A6374 0%, #B73ECB 97.81%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.testimonial-card p {
    color: #0b3b49;
}

.testimonial-card button {
    color: #197b9a;
    width: 50%;
    padding: 1vmin;
    background: #FFFFFF;
    border: 2.14313px solid #692DCD;
    border-radius: 35.7188px;
}

@media(max-width: 720px) {
    .top-notice-left p {
        display: none;
    }

    .hum-burger {
        display: flex;
    }

    .nav-list-item ul {
        display: none;
    }
}


/* ---------boarding page start here---------- */

.first-main-shap-svg{
    width: 100vw;
    top: 40vh;
    position: absolute!important;
    z-index: 12;
    left: 0;
}
#boarding-first-main {
    width: 100vw;
    height: 100vh;
    z-index: 4;
    overflow: hidden;
    background: #194340;
}
#boarding-first-main .container{
    background: #194340;
}
#boarding-first-main .container img{
    background: #194340;
    background: linear-gradient(89.77deg, #194340 0.11%, #194340 0.12%, #2A6374 30.4%, rgba(0, 0, 0, 0) 70.71%, #194340 90.96%);
}
.boarding-first-main-box {
    position: absolute;
    width: 100%;
    height: 100vh;
    background: linear-gradient(89.77deg, #194340 0.11%, #194340 0.12%, #2A6374 30.4%, rgba(0, 0, 0, 0) 70.71%, #194340 90.96%);
}

.boarding-main-txt{
    z-index: 20;
    color: var(--white-ash);
}
.boarding-main-txt h1{
    position: absolute;
    transform: translateY(-35vh);
    font-size: 60px;
}
.boarding-main-txt p{
    position: absolute;
    font-size: 20px;
}

#second-bording-main{
    z-index: 12;
}
#main-form-card, #main-form-top-cont {
    width:90%;
}










/*---------------------------Footer---------------------*/
footer {
    width: 100%;
    height: 45vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--white-ash);
}

.bg-box {
    position: absolute;
    bottom: 0;
    width: 100vw;
    height: 45vh;
    background-color: var(--casal);
}

.box-left {
    position: absolute;
    bottom: 0;
    width: 50vw;
    height: 30vh;
    left: 0px;
    background: #21df0c;
}

.footer-shape {
    position: absolute;
    display: block;
    width: 100vw;
    max-width: 1200px;
    height: 50vh;
    bottom: 0;
    backdrop-filter: blur(60px);
    background: linear-gradient(129.55deg, rgba(235, 235, 235, 0.175) 1.44%, rgba(255, 255, 255, 0.346766) 1.44%, rgba(116, 209, 237, 0.5) 47.72%, rgba(0, 0, 0, 0.5) 119.73%);
    /* clip-path: polygon(0% 40%, 0% 100%, 80% 100%, 80% 60%, 100% 60%, 100% 0%, 25% 0%, 25% 40%); */
    clip-path: inset(10% 10% 10% 5% round 50px 20px 80px 40px);
    -webkit-clip-path: inset(5% 5% 0% 5% round 50px 20px 80px 40px);
    padding: 50px 50px 50px 50px;
    transform: translateY(-15vh);
}

.foot-top-left {
    display: flex;
}

.foot-dog img {
    width: auto;
    height: 80px;
    margin-left: 4vw;
}

.foot-txt {
    margin-left: 3vw;
    color: #8f8f8f;
}

.foot-txt p,
.foot-txt span {
    color: var(--white-ash);
}


.box-right {
    position: absolute;
    right: 0;
    bottom: 20vh;
    width: 50vw;
    height: 30vh;
    background: #a80b0b;
}

.foot-top {
    height: 70%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.foot-bot {
    height: 30%;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid var(--white-ash);
    margin-left: 5%;
    margin-right: 5vw;
}

.back-top {
    position: absolute;
    padding-top: 4vmin;
    padding-left: 10vmin;
    width: 25vw;
    height: 30vh;
    right: 0;
    bottom: 0;
    background: var(--casal);
    border-top-left-radius: 60px;
    transform: rotate(-1deg);
}

.back-top-arrow {
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    background: linear-gradient(31.05deg, rgba(255, 255, 255, 0.7) 8.12%, rgba(196, 196, 196, 0) 92.62%);
    backdrop-filter: blur(10px);
}

.txt-social {
    transform: translateY(20%);
}

.back-top-arrow svg {
    width: 45px;
    height: 45px;
}

.footer-social ul {
    display: flex;
    padding-top: 15px;
}


.foot-card {
    width: 45vw;
    height: 25vh;
    margin-right: 3vmin;
    transform: translateY(-3vh);
    background: linear-gradient(rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
    border-radius: 32px;
}

.foot-card .card-title span {
    color: #675055;
    font-family: Poppins;
    font-weight: SemiBold;
    font-size: 30px;
    padding-left: 25px;
    transform: translateY(5vmin);
}

.email-contnet {
    margin-top: 2vmin;
}

.emil-txt {
    color: rgba(103, 80, 85, 1);
    font-family: Poppins;
    font-weight: SemiBold;
    font-size: 20px;
    text-align: left;
    margin-left: 4vmin;

}

.email-input {
    width: 62%;
    border: 1.7999999523162842px solid linear-gradient(rgba(255, 255, 255, 1), rgba(255, 255, 255, 0.016129031777381897));
    border-radius: 20px;
    padding: 1.4vmin 3vmin;
    margin-left: 10px;
    border: #675055;
}

.contact-btn {
    width: 80%;
    color: rgba(103, 80, 85, 1);
    font-family: Poppins;
    font-weight: SemiBold;
    margin-top: 5vmin;
    margin-left: 5vmin;
    border-radius: 20px;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 18px;
}